@model PartialViews.Models.Employee

<div class="row" style="border:5px">
	<div class="col-lg-6">
		<h2>Name-@Model.name</h2>
		<p>ID-@Model.Id</p>
		<p>Email - @Model.Email</p>
	</div>
	<div class="col-lg-6">
		<p>Description-@Model.Description</p>

	</div>
</div>