@{
	ViewBag.Title = "About";
	Layout = "~/Views/Shared/_site.cshtml";
}

<h1>About</h1>
<h2> Courses Available</h2><br /><br />
<p >
<ul style="text-align:left;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size:x-large">

	<li>c# </li>
	<li>Java</li>
	<li>IOT</li>
	<li>Machine Learning</li>
	<li>Aritifical Intelligence</li>
	<li>Python</li>
	<li>SQL</li>
</ul>
	</p>

@section headSection
{
	<style>
		h1 {
			background-color: blue;
			color: navajowhite;
			text-align: center;
		}
		h2 {
			
			color:navy;
			text-align:center;
			font-family:'Times New Roman', Times, serif;
			
		}
		
	</style>

	<script>
		alert("Hello World!!!");
	</script>
}
