@{
	ViewBag.Title = "Contact";
	Layout = "~/Views/Shared/_site.cshtml";
}

<h2>Contact</h2>

<address><b>
	Priscilla |Vizag| p.thota@dxc.com <br />
	Contact me: 9701188423
</b>
</address>

@section adsSection
{
	
	
	<div>
		<img src="~/Images/sm2.jpg" width="200" height="100" />
	</div>
	}