@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_site.cshtml";
}

<h2>Home</h2>
<p><strong>
	Hello!! Welcome to the World of Technology<br />
This Website offers different types of courses on various Technologies.
	</strong>
</p>
@section adsSection
{
	<div align="center">
		<img src="~/Images/cloud.jpg" width="200" height="100" />
	</div>
		 }